@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap&family=Galada&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply bg-[#ecf0f3] font-medium text-[#1f2937] tracking-wide dark:text-gray-300 dark:bg-gray-900;
    }
    img {
        /* @apply bg-transparent dark:bg-gray-300; */
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }
    h2 {
        @apply text-3xl sm:text-4xl md:text-5xl;
    }
    li {
        @apply cursor-pointer;
    }
    button,
    button[type="submit"] {
        @apply cursor-pointer shadow-xl shadow-gray-400 rounded-lg uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white hover:scale-105 dark:shadow-none dark:from-[#3b82f6] dark:to-[#1e40af] dark:hover:from-[#1e3a8a] dark:hover:to-[#3b82f6];
    }
    .logo {
        @apply font-["Ubuntu"];
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
